<a href="https://colab.research.google.com/github/arfariaz204/python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
print("Hello World!")

Hello World!

In [40]:
name = "Sehar Riaz"
age = 21
height = 5.1
Is_student = True

print(name)
print(age)
print(height)
print(Is_student)

Sehar Riaz
21
5.1
True

In [41]:
a = 12
b = 6

print("Addition = ",  a+b)
print("Subtraction = ", a-b)
print("Multiplication = ", a*b)
print("Division = ", a/b)
print("Modulus = ", a%b)

Addition =  18
Subtraction =  6
Multiplication =  72
Division =  2.0
Modulus =  0

In [42]:
x = 18
y = 27

print(x == y)
print(x != y)
print(x < y)
print(x > y)
print(x <= y)
print(x >= y)

False
True
True
False
True
False